<% for rss_item in @rss_items -%>
  <h1><%= link_to(rss_item.title, rss_item.url) %></h1>
  <p>Source: <%= rss_item.source %> | Post time: <%= rss_item.post_time.to_s(:long) %></p>
  <p><%= rss_item.description %></p>
<% end -%>