* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	background: #fff;
	height: 100%;
}

#site_title {
  margin-bottom: 5px;
}
#site_title h1 {
  font-size: 1.2em;
}

#site_title h2 {
  font-size: 1.1em;
}

.rss_item {
  margin: 2px, 2px, 2px, 2px;
}
.rss_item h1 {
	font: 1.2em/1em Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-weight: bold;
}